:root{
    --color1: #E7E7E7;
    --color2: #80ED99;
    --color3: #57CC99;
    --color4: #38A3A5;
    --color5: #22577A;
}

.bg-img-config{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-img-login{
    /* background-image:url('/public/img/bg-login.jpg'); */
    background-image: linear-gradient(
        to bottom,
        rgba(87, 204, 153, 0.3),
        rgba(87, 204, 153, 0.3)
    ), url("/public/img/bg-login.jpg");
}

.bg-img-register{
    /* background-image: url('/public/img/bg-registro.jpg'); */
    background-image: linear-gradient(
        to bottom,
        rgba(87, 204, 153, 0.3),
        rgba(87, 204, 153, 0.3)
    ), url("/public/img/bg-registro.jpg");
}

